#imageModal .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#imageModal .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px; /* Установите желаемую максимальную ширину */
    width: 80%; /* Обеспечьте, чтобы контент занимал 80% ширины окна */
    padding: 20px;
    border: 1px solid #888;
}

#imageModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#imageModal .close:hover,
#imageModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Стили для модального окна */
#StoriesModal .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#StoriesModal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%;
    text-align: center;
}


#StoriesModal .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

#StoriesModal .close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



